<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>

<form action="/inv/add-inventory" method="POST">
  <label for="classificationList">Classification:</label>
  <select id="classificationList" name="classification_id">
    <% classificationSelect.forEach(classification => { %>
    <option value="<%= classification.classification_id %>">
      <%= classification.classification_name %>
    </option>
    <% }) %>
  </select>
  <br />

  <label for="inv_make">Make:</label>
  <input type="text" id="inv_make" name="inv_make" required /><br />

  <label for="inv_model">Model:</label>
  <input type="text" id="inv_model" name="inv_model" required /><br />

  <label for="inv_image">Image URL:</label>
  <input type="text" id="inv_image" name="inv_image" required /><br />

  <label for="inv_thumbnail">Thumbnail URL:</label>
  <input type="text" id="inv_thumbnail" name="inv_thumbnail" required /><br />

  <label for="inv_price">Price:</label>
  <input
    type="text"
    id="inv_price"
    name="inv_price"
    pattern="\d+"
    required
  /><br />

  <label for="inv_year">Year:</label>
  <input
    type="text"
    id="inv_year"
    name="inv_year"
    pattern="\d{4}"
    required
  /><br />

  <label for="inv_miles">Miles:</label>
  <input
    type="text"
    id="inv_miles"
    name="inv_miles"
    pattern="\d+"
    required
  /><br />

  <label for="inv_color">Color:</label>
  <input type="text" id="inv_color" name="inv_color" required /><br />

  <label for="inv_description">Description:</label><br />
  <textarea id="inv_description" name="inv_description" required></textarea
  ><br />

  <button type="submit">Add Inventory</button>
</form>
